.magnify-container {
  position: relative;
  overflow: hidden;
}

.magnifier {
  display: none; 
  position: absolute;
  width: 128px; 
  height: 128px;
  border-radius: 50%;
  border: 2px solid #666;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 300%; 
  transform: translate(-50%, -50%); 
  pointer-events: none; 
  z-index: 10; 
}
